{% extends 'authapp/base.html' %}
{% load static %}
{% load my_tags %}
{% block content %}
    <img src="{{ user.avatar|media_folder_users }}" class="w-25">
    <form class="form-horizontal" action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_form.as_p }}
        {{ profile_form.as_p }}
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
    <button class="button btn-round form-control">
        <a href="{% url 'main' %}" class="">На главную</a>
    </button>
{% endblock %}